* {
    box-sizing: border-box;
}

h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    text-align: center;
    font: "Arial";
    padding: 20px;
    background-color: #A9D8B8;
    font-size: large;
}

img {
    padding: 10px;
}

.header {
    background-color: #91AB99;
    padding: 15px;
    font-size: large;
}

.navbar {
    overflow: hidden;
    background-color: #545E56;
}

.navbar a {
    float: left;
    text-align: center;
    padding: 15px 15px;
    text-decoration: none;
    color: #8D87AA;
    font-family: monospace;
}

.navbar a:hover {
    background-color: #A7C4B5;
    color: black;
}

.footer {
    padding: 10px;
    background-color: #545E56;
}