* {
    box-sizing: border-box;
}

h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    text-align: center;
    font: "Arial";
    padding: 20px;
    background-color: #A9D8B8;
    font-size: large;
}

img {
    padding: 10px;
}

li {
    padding: 5px;
}

.header {
    background-color: #91AB99;
    padding: 15px;
    font-size: large;
}

.navbar {
    overflow: hidden;
    background-color: #545E56;
}

.navbar a {
    float: left;
    padding: 15px 15px;
    text-decoration: none;
    color: #8D87AA;
    font-family: monospace;
}

.navbar a:hover {
    background-color: #A7C4B5;
    color: black;
}

.column {
    float: left;
}

.column.left {
    width: 15%;
    text-align: left;
    background-color: #C6E9D1;
}

.column.left a {
    color: #B48291
}

.column.right {
    width: 85%;
}

.column.half {
    width: 50%;
}

.column.half dl {
    text-align: left;
    font-size: smaller;
    padding: 3px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.footer {
    overflow: hidden;
    padding: 10px;
    background-color: #545E56;
}

.footer a {
    color: #8D87AA;
    text-decoration: none;
}